body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

h2 {
  margin: 10px 0;
}

.color-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.color-title {
  margin: 0 0 5px 0;
}


img {
  height: 200px;
  width: 200px;
}

.color-title {
  font-weight: normal;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}
