/* styles.css */

/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Align items horizontally */
    background-color: #98cfe9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
}

.search-container button {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

.menu {
    background-color: #f4f4f4;
    padding: 20px;
    width: 100%; /* Adjust width as needed */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between menu items */
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu a:hover {
    color: #007bff; /* Change color on hover */
}

.container {
    display: flex;
}

main {
    display: flex;
    flex: 1;
    padding: 20px;
}

.profile, .bio {
    margin-bottom: 20px;
}

.profile {
    flex: 1; /* Adjusted to move profile to the left */
    text-align: center;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 24px;
}

.profile p {
    font-style: italic;
    color: #777;
}

.bio {
    flex: 2; /* Adjusted to make space for bio */
}

.bio h2 {
    font-size: 24px;
    margin-top: 20px;
}

.bio p {
    line-height: 1.5;
}

.about-content {
    padding: 30px;
}

.content#bio,
.content#web {
    padding: 10px;
}
footer {
    background-color: #98cfe9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* projects.html */

.project-container {
    width: 30%;
    padding: 10px;
}

.project-container h2 {
    margin-bottom: 5px;
}

.date {
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
}

.project-link {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    margin-top: 10px; /* Adjust margin-top as needed */
    background-color: #98cfe9; /* Example button color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #5f8292; /* Example color on hover */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #98cfe9; /* Example button color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    color: #5f8292; /* Example color on hover */
}
