body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #8f5db8;
    color: white;
}

.days {
    width: 200px;
}

.period {
    width: 80px;
}

.time {
    width: 150px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Change the whole row color on hover */
tr:hover {
    background-color: #ddd;
}

/* Change the specific cell to a darker shade on hover */
td:hover {
    background-color: #bbb;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
        width: 100%;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 10px;
    }

    td {
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        white-space: nowrap;
    }
}
